@model FSPACERFINAL.Models.SpacerViewModel

@{
    ViewData["Title"] = "Back";
}

<h2>Back</h2>

<h4>SpacerCard</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-controller="SpacerCards" asp-action="Back" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>           
            <input type="hidden" asp-for="ID" />
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Active" /> @Html.DisplayNameFor(model => model.Active)
                    </label>
                </div>
            </div>           
            <div class="form-group">
                <label asp-for="Backlash" class="control-label"></label>
                <input asp-for="Backlash" class="form-control" />
                <span asp-validation-for="Backlash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorizontalSetting" class="control-label"></label>
                <input asp-for="HorizontalSetting" class="form-control" />
                <span asp-validation-for="HorizontalSetting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IntermediateSetting" class="control-label"></label>
                <input asp-for="IntermediateSetting" class="form-control" />
                <span asp-validation-for="IntermediateSetting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OutputSetting" class="control-label"></label>
                <input asp-for="OutputSetting" class="form-control" />
                <span asp-validation-for="OutputSetting" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HelicalGearNumber" class="control-label"></label>
                <input asp-for="HelicalGearNumber" class="form-control" />
                <span asp-validation-for="HelicalGearNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HelicalPinionNumber" class="control-label"></label>
                <input asp-for="HelicalPinionNumber" class="form-control" />
                <span asp-validation-for="HelicalPinionNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
