@model FSPACERFINAL.Models.SpacerViewModel

@{
    ViewData["Title"] = "Front";

    /*
    List<string> ModelsName = new List<string> { "F85", "F110", "F135", "F155", "F175" };
    ViewData["ModelList"] = new SelectList("ModelsName");

    List<SelectListItem> modelDropdownData = new List<SelectListItem>();

    var ModelList = (List<>)ViewData["ModelList"];
    foreach (var model in ModelList)
    {


        modelDropdownData.Add(new SelectListItem()
        {

            Text = model,
            Value = model.Model.ToString()

        });

    }*/



}

<h2>Front</h2>

<h4>SpacerCard</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Front" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label class="control-label"></label>
                @*<select class="form-control" asp-items="(SelectList)@ViewData["ModelList"]"></select>*@
                <label asp-for="Model" class="control-label"></label>
                <select class="form-control" asp-items="ViewBag.ModelList"></select>
            </div>
            @*<div>
                @Html.DropDownListFor(l => l.Drive.Model, modelDropdownData)
              </div>
            *@
            <div class="form-group">
                <label asp-for="DriveNumber" class="control-label"></label>
                <select asp-for="DriveNumber" class="form-control" asp-items="ViewBag.DriveNumber"></select>
            </div>
            <div>
                <label asp-for="GearNumber" class="control-label"></label>
            <select class="form-control" asp-items="ViewBag.GearList"></select>
            </div>
            <hr />
            <div class="form-group">
                <label asp-for="HorizontalGearCaseDeviation" class="control-label"></label>
                <input asp-for="HorizontalGearCaseDeviation" class="form-control" />
                <span asp-validation-for="HorizontalGearCaseDeviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorizontalCarrierDeviation" class="control-label"></label>
                <input asp-for="HorizontalCarrierDeviation" class="form-control" />
                <span asp-validation-for="HorizontalCarrierDeviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bearing" class="control-label"></label>
                <input asp-for="Bearing" class="form-control" />
                <span asp-validation-for="Bearing" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HMDGear" class="control-label"></label>
                <input asp-for="HMDGear" class="form-control" />
                <span asp-validation-for="HMDGear" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="VerticalGearCaseDeviation" class="control-label"></label>
                <input asp-for="VerticalGearCaseDeviation" class="form-control" />
                <span asp-validation-for="VerticalGearCaseDeviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VerticalCarrierDeviation" class="control-label"></label>
                <input asp-for="VerticalCarrierDeviation" class="form-control" />
                <span asp-validation-for="VerticalCarrierDeviation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GearMount" class="control-label"></label>
                <input asp-for="GearMount" class="form-control" />
                <span asp-validation-for="GearMount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VMDGear" class="control-label"></label>
                <input asp-for="VMDGear" class="form-control" />
                <span asp-validation-for="VMDGear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OperatorID" class="control-label"></label>
                <select asp-for="OperatorID" class ="form-control" asp-items="ViewBag.OperatorID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
                
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
